django==1.11.15
psycopg2
pandas==0.19.2
numpy==1.11.3
djangorestframework==3.7.7
django-filter==2.0.0
django-easy-pdf==0.1.1
xhtml2pdf==0.2b1
reportlab==3.3.0
django-modeltranslation==0.12
django-oauth-toolkit==0.12.0
html5lib==1.0b10
boto3==1.4.4
django-smartfields==1.0.9
django-allauth==0.32.0
social-auth-app-django==1.2.0
django-push-notifications==1.5.0
django-admin-honeypot==1.0.0
asana==0.6.5
django-email-blacklist==1.0.1
stripe==1.65.0
django-logentry-admin==1.0.2
user-agents==1.1.0
django-user-agents-last==0.3.1
python-memcached==1.58
xlrd==1.1.0
xlwt==1.3.0
slackclient==1.0.9
tinify==1.5.1
language-check==1.1
django-daguerre==2.2.3
language-tool==0.3
python-dotenv
django-extensions==2.0.6
django-webpack-loader==0.6.0
pillow==5.2.0